$border-color: rgb(209,209,209);
$checkbox-background-color:#2196F3;
$link-text-color: #FFB13B;
$input-color: #727272;
$input-background-color: white;
$form-color:#F5F5F5;
$form-header-color: #727272;
$form-paragraph-color: #727272;
$form-background-color: #F5F5F5;
$form-input-border-shine-color: #349AF0;
$form-button-background-color: #faab43;
$form-button-text-color: white;

.contact-form{
    height: 600px;
    width: 430px;
    padding: 20px 15px;
    border-radius: 1%;
    overflow: hidden;
    //DISPLAY GRID
    display: grid;
    column-gap: .8em;
    row-gap: 0;
    grid-template-columns: 1fr 0.5fr;
    background-color: $form-background-color;

    //BOX SHADOW
    -webkit-box-shadow: -1px 11px 21px 4px rgba(0,0,0,0.22);
    -moz-box-shadow: -1px 11px 21px 4px rgba(0,0,0,0.22);
    box-shadow: -1px 11px 21px 4px rgba(0,0,0,0.22);

    h1{
        font-size: 18px;
        color: $form-header-color;
    }

    p{
        color: $form-paragraph-color;
    }

    //ALL INPUTS
    input:nth-child(n){
      grid-column-start: 1;
    }
}

.grid-col-span-2{
  grid-column: span 2;
}

.form-input{
    border-radius: 8px;
    background-color: $input-background-color;
    border-width: 1px;
    border-style: solid;
    border-color: $border-color;
    font-size: 20px;
    padding: 10px;
    color: $input-color;
    transition: all .3s ease-in-out;
}

//FORM-INPUTS

.form-input:focus{
    outline: none;  
}

.form-input::placeholder{
    color: $border-color;  
}

.form-input:focus{
    border: 1px solid $form-input-border-shine-color;
    box-shadow: 1px 1px 6px -1px $form-input-border-shine-color, -1px -1px 6px -1px $form-input-border-shine-color; 
}

.contact-form-input-and-qr-div{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

//COPYRIGHT TERMS

.use-terms{
  font-size: 14px;
}

.use-terms:link{
    text-decoration: none; 
}

//CHECKBOX
/* Customize the label (the container) */

.container {
    margin: 0;
    padding-bottom: 0;
    padding-top: 0;
    display: block;
    position: relative;
    padding-left: .8em;
    cursor: pointer;
    color: $link-text-color;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    z-index: 0;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    outline: 1px solid #1e5180;
    background-color: $input-background-color;
    border-radius: 10%;
  }

  .checkmark{
    height: 10px;
    width: 10px;
    top: 10px;
  }

  .container:hover input ~ .checkmark {
    background-color: $input-background-color;
    outline: 1px solid $input-color;
    border-radius: 10%;
  }

  .container input:checked ~ .checkmark {
    background-color: $checkbox-background-color;
    outline: 1px solid $input-color;
    border-radius: 10%;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 3px;
    top: 1px;
    width: 2.5px;
    height: 5px;
    border: solid $input-background-color;
    border-width: 0 1.5px 1.5px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .check-text{
    font-size: 14px;
    margin: 0;
    padding: 0;
    color: $form-paragraph-color;
  }

  .inline-link{
    text-decoration: none;
    color: $link-text-color;
    opacity: 1;
  }

// QR CODE FORM
.qr-container {
  background-color: $input-background-color;
  height: 140px;
  width: 125px;
  padding: 20px 5px 0px;
  border-radius: 3%;
  margin-bottom: .5em;

  img{
    width: 120px;
    height: 100px;
    margin: 0;
    padding: 0;
  }

  span{
    font-size: 14px;
    color: $input-color;
    width: 120px;
    padding-right: 5px;
    // flex-wrap: wrap;
    width: 30px;
  }
}

// FORM BUTTON

.contact-form-button{
  border-radius: 5px;
  padding: 0;
  border: none;
  padding: 10px 24px;
  font-size: 16px;
  color: $form-button-text-color;
  background-color: $form-button-background-color;
  cursor: pointer;
  align-content: flex-end;
  align-self: flex-start;
}
  
.contact-form-button-container{
  display: flex;
  flex-direction: row;
}
