$h1-font-size: 20px;
$h1-font-color:#3F3634;
$h2-font-size: 18px;
$h2-font-color:#8C8482;

.dropdown--nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    display: relative;
    background-color: white;
    height: 10em;
    margin: 0;
    padding: 3em 0 0 0;

    li{
        top: 1px;
        padding: .3em;

        h1{
            color: $h1-font-color;
            font-size: $h2-font-size;
        }
        
        h2{
            color: $h2-font-color;
            font-size: $h2-font-size;
        }
    }

    li:hover img{
        background-color: aquamarine;
        padding: .5em;
        border-radius: 10%;
    }
}