$background-color: #FFFFFF;
$navbar-font-color: #474747;
$navbar-height: 6em;

@mixin nav-font($font-color: $navbar-font-color){
    color: $font-color;
    font-size: 16px;
}

@mixin align-flex-center(){
    display: flex;
    align-items: center;
}

@keyframes border_anim {
	0%{
		width: 0%;
	}
	100%{
		width: 50%;
	}
}

.nav{
    @include align-flex-center();
    background-color: $background-color;
    margin: 0;
    margin-top: 0;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: $navbar-height;
    top: 0;
    left:0;
    
    .left-nav-content{
        @include align-flex-center();
        @include nav-font();
        list-style: none;
        margin: 0;
        height: 100%;

        .company-logo{
            margin-right: 1em;
        }
                
        .dropdown-arrow{
            margin-left: 1em;
            margin-right: 1em;
        }

        li{
            @include align-flex-center();
            display: inline-block;
            position: relative;
        }

        li::after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 2px;
            bottom: -1em;
            left: 0;
            background-color: #0087ca;
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
          }
          
          li:hover::after {
            transform: scaleX(1);
            transform-origin: bottom left;
          }
    }

    .right-nav-content{
        @include align-flex-center();
        @include nav-font();
        margin-right: 2em;

        section span{
            margin-right: 0.5em;
        }

        .dropdown-arrow{
            width: 1.2em;
            height: 1.2em;
        }
    }
}
