$background-color: #FFFFFF;
$navbar-font-color: #474747;
$navbar-height: 6em;

@mixin align-flex-center(){
    display: flex;
    align-items: center;
}

.nav{
    background-color: $background-color;
    margin: 0;
    position: fixed;
    width: 100%;
}

.primary-navigation{
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    justify-content: start;
    align-content: center;
    grid-auto-flow: column;
    gap: 2em;
    align-items: start;
    padding: 20px;
    li{
        display: flex;
        padding-top: .3em;
        white-space: nowrap;
        span{
            align-items: stretch;
        }
    }

    li:hover{
        color: red;
    }
}

.half-li{
    margin-right: 40em;
}