.flex > div{
    width: calc(100%/3);
    padding: 10px;
    align-self: auto;
}

// .flex > div > img{
//     margin-top: 10px;
// }

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 100%;
    position: fixed;
}