@use "./navbar";

$h1-font-size: 20px;
$h1-font-color:#3F3634;
$h2-font-size: 18px;
$h2-font-color:#8C8482;

.dropdown--nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    display: relative;
    background-color: white;
    height: 7em;
    margin-top: navbar.$main-nav-height;
    padding: 1em 0 .5em 0;
    position: fixed;
    width: 100%;
    z-index: 10;

    li{
        top: 1px;
        padding: .3em;

        h1{
            color: $h1-font-color;
            font-size: $h2-font-size;
        }
        
        h2{
            color: $h2-font-color;
            font-size: $h2-font-size;
        }
    }

    li:hover img{
        background-color: aquamarine;
        padding: .5em;
        border-radius: 10%;
    }
}